body {
  background-image: url("bg1.jpg"); /* Replace 'path/to/your/background-image.jpg' with the actual path to your image */
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  animation: slideUp 1.5s ease-out; /* Increased animation time */
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #342674;
  font-size: 24px;
  z-index: 1;
}

.arrow.left {
  left: 30px;
}

.arrow.right {
  right: 30px;
}

@font-face {
  font-family: mySamarkanFont;
  src: url("C:\Users\badam\OneDrive\Desktop\Documents\Sowp Test Doc\testimonial.html");
}
header {
  background-color: rgba(18, 97, 194, 0.195);
  font-family: mySamarkanFont;
  color: white;
  padding: 20px;
  height: 60px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
footer {
  background-color: rgba(18, 97, 194, 0.418);
  color: #fafafa;
  padding: 20px;
  text-align: center;
  color: white;
}
.logo {
  display: flex;
  justify-content: center;
  margin: 0;
  font-family: mySamarkanFont;
  padding-right: 4px;
  font-size: 50px;
  display: flex;
  justify-content: center;
}

a {
  text-align: right;
  float: right;
  justify-content: right;
  color: rgb(38, 100, 154);
}

.right {
  text-align: right;
  justify-content: right;
  color: rgba(255, 250, 250, 0.689);
}

nav {
  display: flex;
  background-color: snow;

  color: rgb(38, 100, 154);
  justify-content: right;
}
nav ul {
  text-align: right;
  justify-content: right;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}
nav li {
  margin: 0 20px;
}
nav a {
  font-size: 17px;
  text-decoration: none;
}
main {
  display: inline;
  padding: 20px;
}
.about-section {
  /* Take half of the main container */
  padding-right: 20px; /* Adjust as needed */
}
.logo-container {
  text-align: right;
  display: flex;
  align-items: center;
}
.logo-image {
  max-width: 70px;
  margin-right: 10px; /* Adjust as needed */
  margin-left: 10px;
}
.logo-img {
  max-width: 70px;
  margin-right: 10px; /* Adjust as needed */
  margin-left: 10px;
}
.about-body-font {
  font-size: 22px;
  margin-left: 20px;
  width: 90%;
}
.adjstbox-abt-prev {
  background-color: rgba(255, 255, 255, 0);
  color: white;
  padding: 7px;
  margin-left: 40px;
  width: 92%;
  text-align: justify;
  font-size: 20px;
}
p {
  color: white;
}
.img-2k21 {
  max-width: 1000px;
  margin-right: 250px; /* Adjust as needed */
  margin-left: 330px;
}
.cente {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%; /* Adjust as needed */
}
.rounded-rectangle {
  background-color: rgb(233, 233, 233);
  border: 5px solid rgb(40, 85, 122);
  color: rgb(38, 100, 154);
  border-radius: 25px;
  padding: 20px;
  width: 30%;
  height: auto;
  margin-right: 10px;
  margin: 35px;
  box-shadow: 30px 30px 40px rgba(64, 139, 205, 0.838);
}

.rounded-rectangle-container {
  display: flex;
  justify-content: space-between; /* Adjusts the space between the rectangles */
  padding: 50px;
}
.rm {
  color: rgb(4, 20, 34);
}
.box {
  color: rgb(38, 100, 154);
}
.cnt {
  text-align: center;
  color: snow;
}
.adjst {
  display: flex;
  margin-left: 70px;
  justify-content: space-between; /* Adjusts the space between the rectangles */

  flex-wrap: wrap;
}
.adjstbox {
  background-color: rgba(255, 255, 255, 0);
  color: white;
  text-align: justify;
  width: calc(26%);
  padding-left: 50px;
}
.adjstbox-abt {
  background-color: rgba(255, 255, 255, 0);
  color: white;
  padding: 7px;
  margin-left: 60px;
  width: 92%;
  text-align: justify;
  font-size: 20px;
}
.container {
  display: flex;
  flex-direction: row; /* Changed from column to row */
  justify-content: center;
  animation: slideUp 1.5s ease-out; /* Increased animation time */
}

@keyframes blurIn {
  0% {
    filter: blur(5px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
#slide-container {
  display: flex;
  flex-direction: row;
  align-items: stretch; /* Aligns items to the start of the cross axis */
  padding: 50px;
  height: auto; /* Ensures the container grows with its content */
}
.slide {
  display: none;
  background-color: rgba(16, 42, 64, 0.499);
  border: 2px solid rgba(238, 238, 239, 0.047);
  color: snow;
  border-radius: 25px;
  padding: 10px;
  width: 30%;
  margin-top: 10px;
  margin-right: 10px;
  margin: 35px;
  box-shadow: 10px 10px 20px rgba(64, 139, 205, 0.838);
  transition: transform 0.5s;
  text-align: justify;
  justify-content: justify;
  align-items: center;
}
#imgBox {
  border-radius: 50%;
  width: calc(5.552rem + 4vmin);
  height: calc(5.552rem + 4vmin);
  position: relative;
  box-shadow: 7px -3px rgb(19, 75, 124);
  background-size: cover;
  /* Add the following properties to vertically align the image */
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-round {
  /* Remove justify-content and height properties */
  width: 127px;
  border-radius: 70%;
}
#photo {
  border-radius: 60%;
}
#name {
  margin-bottom: calc(0.7rem + 0.5vmin);
  font-size: calc(1rem + 0.5vmin);
  letter-spacing: calc(0.1rem + 0.1vmin);
  font-weight: bold;
  color: snow;
  text-align: center;
}
#profession {
  font-size: calc(0.8rem + 0.3vmin);
  margin-bottom: calc(0.7rem + 0.5vmin);
  color: snow;
  text-align: center;
}
#description {
  font-size: calc(0.85rem + 0.35vmin);

  text-align: justify;
  margin-bottom: calc(1.4rem + 1vmin);
  color: snow;

  line-height: 2rem;
}
.slide.active {
  display: block;
  animation: blurIn 1s, slideIn 2s;
}
.slide:hover {
  transform: scale(1.1);
}
.cnt-timer {
  text-align: center;
  color: snow;
  font-size: 60px;
  font-weight: bold;
}
.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  justify-content: center;
}
hr {
  margin: auto;
  width: 40%;
}
.about {
  background: rgb(224, 251, 222);
  background: linear-gradient(
    360deg,
    rgb(245, 255, 245) 0%,
    rgb(38, 100, 154) 100%
  );
  padding: 7px 0 1px 0;
  padding-top: 10px;
  text-align: center;
  width: 100%;
  height: 400px;
  padding-bottom: 20px;
}
.about h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}
.aboutcnt {
  text-align: center;
  color: rgb(20, 52, 80);
  font-weight: bold;
}
.about p {
  font-size: 1rem;
  color: rgb(20, 52, 80);

  max-width: 800px;
  margin: 0 auto;
}
.about-info {
  margin: 2rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}
.about-info p {
  font-size: 23px;
  margin: 0 2rem;
  color: rgb(20, 52, 80);
  font-weight: bold;
  text-align: justify;
  justify-content: space-around;
}

button {
  border: none;
  outline: 0;
  padding: 10px;
  margin: 2rem;
  font-size: 1rem;
  color: white;
  background-color: rgb(38, 100, 154);
  text-align: center;
  cursor: pointer;
  width: 15rem;
  border-radius: 4px;
}
.cnt-link {
  text-align: center;
  color: snow;
  font-size: 30px;
  font-weight: bold;
}
button:hover {
  background-color: rgb(255, 250, 250);
  color: rgb(20, 52, 80);
}
.about-img {
  width: 17rem;
  height: 17rem;
  margin-right: 100px;
  margin-bottom: 76px;
}
.about-img img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: contain;
}
.cntpass {
  text-align: center;
  color: snow;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  justify-content: space-around;
  gap: 10px;
}
.card {
  position: relative;
  border-radius: 25px;
  width: calc(20%); /* Adjust as needed */
  margin-left: 29px;
  margin-right: 29px;
  padding: 20px;
  text-align: center;
}
.image-container {
  position: relative;
  border-radius: 10px 20px;
  overflow: hidden;
  margin-bottom: 50px;
  box-shadow: rgba(238, 238, 238, 0.25) 0px 50px 100px -20px,
    rgba(238, 238, 238, 0.25) 0px 30px 60px -30px,
    rgba(238, 238, 238, 0.25) 0px -2px 6px 0px inset;
}
.image-container img {
  max-width: 100%;
  border-radius: 10px 20px;
  height: auto;
  transition: transform 0.3 ease;
}
.overlay {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: snow;
  width: 100%;
  transition: 1s ease;
  opacity: 0;
  font-size: 19.555555555px;
  padding-top: 10px;
  text-align: center;
  padding-bottom: 10px;
}
.card:hover .overlay {
  opacity: 1;
}

.image-container:hover {
  transform: scale(1.15);
}
.card img {
  max-width: 100%;
  border-radius: 10px 20px;
  height: auto;
  box-shadow: rgba(238, 238, 238, 0.25) 0px 50px 100px -20px,
    rgba(238, 238, 238, 0.25) 0px 30px 60px -30px,
    rgba(238, 238, 238, 0.25) 0px -2px 6px 0px inset;
}
.card h2 {
  color: snow;
  margin: 10px 0;
}
.cardh2 {
  color: snow;
  position: relative;
  text-align: center;
  font-size: 45px;
}
.cardh2::before,
.cardh2::after {
  content: "";
  display: block;
  width: 150px;
  height: 5px;
  background: snow;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: calc(30% - 75px);
}
.cardh2::before {
  left: 0;
}
.cardh2::after {
  right: 0;
}
.porto {
  width: 50%;
  height: 400px;
  margin-left: 30%;
  margin-right: 40%;
}
.container1 {
  color: snow;
  display: flex;
  flex-direction: row;
  max-width: 100%;
  margin: 50px auto;
  padding: 20px;
  justify-content: center;
  background-color: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.contact-info {
  text-align: center;
  margin-bottom: 20px;
}
.contact-info p {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.contact-info p img {
  width: 30px;
  height: auto;
  margin-right: 10px;
  text-align: center;
}
.contact-info a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s;
}
.contact-info a:hover {
  color: #0056b3;
  text-decoration: underline;
}
.contact-info span {
  display: inline-block;
  margin-right: 10px;
}
.insta {
  width: 50px;
  height: auto;
}
.gmail {
  width: 50px;
  height: auto;
}
.phone {
  width: 50px;
  height: auto;
  text-align: center;
}
.ph.no {
  text-align: center;
}
.col-md-4 {
  margin-top: 50px;
  margin-right: 150px;
  margin-left: 100px;
}
.cnt1 {
  font-weight: bold;
  text-align: center;
  color: snow;
  font-size: 50px;
}
.contact {
  background-color: snow;
}
.bgimg1 {
  background-image: url("count123.jpg");
  width: 100%;
  height: 500px;
  background-position: center;
  background-size: cover;
  font-family: "Courier New", Courier, monospace;
  color: white;
  font-size: 25px;
  margin: 0px;
  padding: 0px;
}
.slideh {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 500px;
  position: absolute;
}
.about-hero {
  text-align: center;
  width: 100%;
  height: 500px;
  background-position: center;
  background-size: cover;
}
.heroh2 {
  text-align: center;
  color: snow;
  font-size: 54px;
  font-weight: bold;
  margin-top: 70px;
  margin-bottom: 100px;
}
.herop {
  text-align: center;
  color: snow;
  font-size: 25px;
  font-weight: 200;
  margin-bottom: 55px;
}
.cnt-index-p {
  display: flex;
  justify-content: center;
  color: snow;
  text-align: justify;
  padding-left: 140px;
}
.abstarct-link {
  width: 100% auto;
  height: 450px;
  background-position: center;
  background-size: cover;
}
.link-center {
  display: flex;
  justify-content: center;
}
/* for images in about sowparnika 2k21 and 2k23*/
.cente-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%; /* Adjust as needed */
  height: 600px; /* Adjust as needed */
  border-radius: 0 10px 20px;
  box-shadow: rgba(236, 233, 233, 0.659) 0px 3px 8px;
}
