 /* Basic styling for the gallery */
 .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.card {
    width: calc(29% ); /* Adjust as needed */
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.card img {
    max-width: 100%;
    height: auto;
}

.card h3 {
    margin: 10px 0;
}

